<h1 class="text-center">Alumnos</h1>

<button [routerLink]='["/alumnos-agregar"]' class="btn btn-outline-success btn-lg btn-block">Agregar Alumno</button>

<p *ngIf="!(alumnos && alumnos.length)">
  No existen registros para mostrar
</p>

<br />
<br />
<br />
<table class="table" *ngIf="alumnos && alumnos.length">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th>Fecha de Ingreso</th>
      <th>Editar | Eliminar</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos">
      <td>{{alumno.nombre}}</td>
      <td>{{alumno.apellido}}</td>
      <td>{{alumno.telefono}}</td>
      <td>{{alumno.correo}}</td>
      <td>{{alumno.fechaIngreso | date : 'dd-MM-yyyy'}}</td>
      <td>
        <!--Editar-->
        <button class="btn btn-outline-primary btn btn-space" [routerLink]='["/alumnos-editar/" + alumno.id]'>
          <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
          </svg>
        </button>
        <!--Eliminar-->
        <button class="btn btn-outline-danger btn btn-space" (click)="delete(alumno)">
          <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
          </svg>
        </button>

      </td>
    </tr>
  </tbody>
</table>
